<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="height: 100px; background-color: rgb(50, 233, 172);">
    <div class="container-fluid">
    
    <a class="navbar-brand" href="/" style="margin-left: 30px; display: flex; flex-direction: column; align-items: center; margin-top: 10px;">
      <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple116/v4/2c/d5/c4/2cd5c482-64ac-9d6c-e135-b566996eb8b8/AppIcon-0-1x_U007emarketing-0-10-0-85-220.png/512x512bb.jpg" class="rounded-circle img-thumbnail" width="50px" alt="..." style="margin-bottom: 10px;">
      <h6>NewBieDev CHATBOX</h6>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link"  href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h4 style="text-align: center; margin: 30px;">This is my Contact Page. Connect with me here me here</h4>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
</script>

<script src="./js/scripts.js"></script>
</body>
</html>